<mat-card class="p-3 m-3">
    <div class="row">
        <div class="col-md-1 custom_navbar">
            <nav class="navbar navbar-light">
                <span class="navbar-toggler-icon"></span>
            </nav>
        </div>
        <div class="col-md-11">
            <div class="row mb-2">
                <div class="col-md-4">
                    <!-- <mat-chip-list>
                        <mat-chip color="primary" selected>Edit Single Transaction</mat-chip>
                    </mat-chip-list> -->
                    <p class="text-danger">Edit Single Transaction</p>
                </div>
                <div class="col-md-4">
                    <button class="mr-2" mat-raised-button color="primary">Save</button>
                    <button mat-raised-button color="accent">Cancel</button>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>process</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>process Type</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Transaction Date</label>
                        <input type="date" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Free Template</label>
                                <input type="checkbox" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Urgent</label>
                                <input type="checkbox" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
                <div class="col-md-6">
                    <!-- <mat-chip-list>
                        <mat-chip color="primary" selected>Debit Movement</mat-chip>
                    </mat-chip-list> -->
                    <p class="text-danger">Debit Movement</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type of movement</label>
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Account Number/Contract/Auxiliary/GL</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Position</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Value date</label>
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Account Owner Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CVC</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Employee</label>
                        <input type="checkbox" class="form-control">
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
                <div class="col-md-6">
                    <!-- <mat-chip-list>
                        <mat-chip color="primary" selected>Credit Movement</mat-chip>
                    </mat-chip-list> -->
                    <p class="text-danger">Credit Movement</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Type of movement</label>
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Account Number/Contract/Auxiliary/GL</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Position</label>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Value date</label>
                        <select class="form-control">
                            <option>1</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Account Owner Name</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>CVC</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Employee</label>
                        <input type="checkbox" class="form-control">
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row mt-2">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Currency</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Ip.Ref</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>DGO.Ip.Ref</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Application</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Client Description</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Note</label>
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>